.menu{
    margin: 0px;
    background-color: #0492C2;
    height: 80px;
}

.menu ul li{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

h1{
    color: #0492C2;
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    border: 3px solid #0492C2;
    border-radius: 20px;
    padding: 15px 0px;
    width: 1250px;
    display: inline-block;
}

.intro{
    background-color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    height: 400px;
}

.image{
    text-align: center;
    padding: 10px;
    background-color: black;
}

p, ul li{
    font-family: 'Poppins', sans-serif;
}