html{
    font-family: 'Poppins', sans-serif;
}

.menu{
    margin: 0px;
    background-color: #0492C2;
    height: 80px;
    width: 100%;
    text-decoration: none;
}

.menu ul li{
    color: white;
    font-weight: bold;
    display: inline-block;
}

h1{
    text-align: center;
    color: #0492C2;
    font-size: 100px;
}

h2, h4{
    color: white;
    text-align: left;
    padding: 25px;
}

h1:hover{
    color: black;
    transition: 0.5s;
}

#articles-one{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#articles-one div{
    display: inline-block;
    flex-direction: row;
    width: 500px;
    height: 500px;
    background-color: #0492C2;
    border-radius: 20px;
}

#articles-two{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#articles-two div{
    display: inline-block;
    flex-direction: row;
    width: 500px;
    height: 500px;
    background-color: #0492C2;
    border-radius: 20px; 
}

.article-image{
    width: 500px;
    height: 300px;
    border-radius: 15px;
}